/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 15px;
  // margin-bottom: $lineHeight / 2;
  // margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 500;
  text-decoration: none;

  outline: 0;
  border-radius: 8px;

  transition: none;

  &:hover {
    background: #1c3664;
    color: #ffffff;
    border: 1px solid #1c3664;
    text-decoration: none;
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px solid darken($color, 10%);

  @if $isInverted { border-color: transparent;}
}


.button--primary {
  @extend .button;
  @include style-button(#FF6633, #ffffff);
  color: #fff !important;
  font-weight: 700 !important;
}

.button--secondary {
  @extend .button;
  @include style-button(transparent, #ffffff);
  border: 1px solid #fff;
}

.button--secondary-variation {
  @extend .button;
  @include style-button(#ffffff, $colorBlue, true);
}
